@tailwind base;
@tailwind components;
@tailwind utilities;

@view-transition {
    navigation: auto; /* enabled! */
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/inter-v13-latin-100.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/inter-v13-latin-200.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/inter-v13-latin-300.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/inter-v13-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/inter-v13-latin-500.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/inter-v13-latin-600.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/inter-v13-latin-700.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/inter-v13-latin-800.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("/fonts/inter-v13-latin-900.woff2") format("woff2");
}

.glow-shadow::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 1rem;
    background: var(--splash-color);
    opacity: 0;
    filter: blur(8px);
    animation: glow 4s infinite;
    --tw-scale-x: 1.02;
    --tw-scale-y: 1.02;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.shadow-md-splash {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--splash-color),
        0 2px 4px -2px var(--splash-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@keyframes glow {
    0% {
        opacity: 0.8;
        filter: blur(8px);
    }

    50% {
        opacity: 0.45;
        filter: blur(11px);
    }

    100% {
        opacity: 0.8;
        filter: blur(8px);
    }
}

@media (prefers-reduced-motion: reduce) {
    .glow-shadow::before {
        display: none;
    }
}

.shadow-footer {
    box-shadow: 0 50vh 0 50vh #292524;
}

.text-shadow-twitch {
    text-shadow: 1px 1px 2px #6441a5;
}

.text-shadow-youtube {
    text-shadow: 1px 1px 2px #ff0000;
}

.text-shadow-kick {
    text-shadow: 1px 1px 2px #53fc18;
}

.text-shadow-douyu {
    text-shadow: 1px 1px 2px #ff5f3a;
}

.text-shadow-huya {
    text-shadow: 1px 1px 2px #ffaa06;
}

ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
}
